---
layout: default
---

<div <%= object_ref page %>>
  <div class='post-header'>
    <h2 class='post-title'>
      <a class='permalink' href='<%= page.permalink %>'><%= page.title %></a>
    </h2>
    <ul class='post-metadata'>
      <li class='byline'>
        By
        <span class='author'><%= page.author %></span>
        on
        <span class='date'><%= page.created.strftime '%B %e, %Y' %></span>
        <% unless page.tags.empty? %>
            in
            <%= page.tags.collect { |t| "<a href='#{t.uri}'>#{t.name}</a>" }.join ', ' %>
        <% end %>
        <% if page.time? %>
            at
            <span class='time'><%= page.time %></span>
        <% end %>
      </li>
      <li class='link'>
        <a class='permalink' href='<%= page.permalink %>'>
          Permalink
        </a>
      </li>
      <li class='disqus_link'>
        <a href='<%= page.permalink %>#disqus_thread'>Comments</a>
      </li>
    </ul>
  </div>
  <div class='post-body'>
    <%= content %>
    <%= snippet 'comments' %>
  </div>
</div>
<%= snippet 'comment-links' %>
