---
layout: default
---

%div[page]
  .post-header
    %h2.post-title
      %a.permalink{ :href => page.permalink }= page.title
    %ul.post-metadata
      %li.byline
        By
        %span.author= page.author
        on
        %span.date= page.date
        - if page.time?
          at
          %span.time= page.time
      %li.link
        %a.permalink{ :href => page.permalink }
          Permalink
      %li.comments
        %a.comments{ :href => page.comments_link }== Comments (#{page.comment_count})
  .post-body= content
